$color1: #712300;
$color2: #b65c02;
$color3: #ff9800;
$color4: #ffc548;
$color5: #4b3400;
$color6: #ffcc50;
$fuente: "Montserrat";
$fuenteNav: Verdana, Geneva, Tahoma, sans-serif;
$margingral: 1%;
$paddinggral: 1%;
$bordegral: 3px;
$borderadio: 10px;
$bordeH1: #b65c02 solid 4px;
$bordeTable: #712300 solid 5px;
$bordenegro: black solid 3px;
$borde1: #712300 solid 3px;
$borde2: #b65c02 solid 3px;
$borde3: #ff9800 solid 3px;
$width: 100%;
$width2: 70%;
$width3: 40%;
$width4: 10%;
$height: 100%;
$height2: 70%;
$height3: 10%;