@import "../sass2/extend";
@import "../sass2/mixin";

/* Asides de las distintas páginas */
.aside{
    @include centrar;
    margin: $margingral*2;
}
.imgAside{
    width: $width3+20;
    height: $height3/5;
    border: $bordeaside;
    border-radius: $borderadio;
}
.fifa{
    width: $width3+20;
    height: 3%;
    border: $bordeaside;
    border-radius: $borderadio;
}
.itemAside{
    @include centrar;
}
.fender{
    width: $width3+10;
    height: $height3*2;
    margin: $margingral*2;
    border: $color1 solid 7px;
    border-radius: $borderadio*2;
}
.netflix{
    width: $width3+10;
    margin: $margingral/2;
    border: $color1 solid 5px;
    border-radius: $borderadio;
}

/* Medias queries */

@media only screen and (max-width: 900px){
    .imgAside{
        border: $borderaside2;
    }
}

@media only screen and (max-width: 682px){
    .imgAside{
        border: $borderaside3;
    }
    .fender{
        border: $color1 solid 4px;
    }
    .netflix{
        border: $color1 solid 4px;
    }
}