@import "../sass2/extend";
@import "../sass2/mixin";

/* Main */
.listaCompras{
    @include wrap;
}
.cartaCompra{
    @include sb-align;
    background-color: $color3;
    width: $width4*2.5;
    margin: $margingral;
    overflow: hidden;
    border: $borde12;
    border-radius: $borderadio;
}
/* Items de la compra */
.tituloCarta{
    margin: $margingral;
}
.divFoto{
    @include centrar;
    width: $width;
}
.fotoCompra{
    margin: $margingral;
    height: 10vw;
}
.descripcionCompra{
    background-color: $color4;
    width: $width2+20;
    margin: $margingral;
    padding: $paddinggral;
    border: $borde1;
    border-radius: $borderadio;
}
.precio{
    @include centrar-bottom;
}
.precioCantidadAñadir{
    text-align: center;
    background-color: $color4;
    width: $width2+20;
    margin: $margingral;
    padding: $paddinggral*2;
    border: $borde1;
    border-radius: $borderadio;
}
.añadirCarrito{
    margin: 0% 1% 0% 1%;
    font-size: 1vw;
}
.cantidadGolosina{
    width: $width3;
    font-size: 1vw;
}

/* Medias queries */

@media only screen and (max-width: 900px){
    .cartaCompra{
        width: $width3;
    }
    .cantidadGolosina{
        font-size: 1.5vw;
    }
    .añadirCarrito{
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 682px){
    .descripcionCompra{
        border: $color1 solid 2px;
    }
    .precioCantidadAñadir{
        border: $color1 solid 2px;
    }
    .fotoCompra{
        height: 15vw;
    }
}

@media only screen and (max-width: 545px){
    .cartaCompra{
        width: $width2+10;
    }
    .fotoCompra{
        height: 30vw;
    }
    .cantidadGolosina{
        font-size: 2.5vw;
    }
    .añadirCarrito{
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 320px){
    .cantidadGolosina{
        font-size: 3vw;
    }
    .añadirCarrito{
        font-size: 3vw;
    }
}