@import "../sass2/extend";
@import "../sass2/mixin";

/* Formulario */

.formularioContacto{
    @include centrar;
    width: $width;
}
.formulario{
    background-color: $color4;
    width: $width2+10;
    margin: $margingral;
    padding: $paddinggral*2;
    border: $color1 solid 4px;
    border-radius: $borderadio;
}
.btnForm{
    border: $color2 solid 2px;
}
.boton{
    padding: $paddinggral;
    width: 8.5%;
    margin-left: $margingral;
}

/* Div final */
.divPadrefinal{
    @include centrar;
    width: $width;
}
.divFinal{
    @include centrar3;
    background-color: $color4;
    width: $width2+10;
    height: 10vw;
    margin: $margingral*2;
    font-weight: bolder;
    border: $borde1;
    border-radius: $borderadio;
}

/* Medias queries */

@media only screen and (max-width: 450px){
    .formulario{
        font-size: small;
    }
    .form-control{
        font-size: x-small;
    }
    .form-select{
        font-size: x-small;
    }
    .input-group-text{
        font-size: x-small;
    }
    .btnForm{
        font-size: small;
    }
}