footer{
    @include foot;
    background-image: linear-gradient(to right, $color1, $color2, $color3, $color4);
    color: white;
    font-size: 10px;
    border-top: black solid;
}
.fa{
    text-align: center;
    text-decoration: none;
    width: 50px;
    font-size: 30px;
    padding: 20px;
    &:hover{
        opacity: 0.7;
    }
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube{
    background: red;
    color: white;
}
.fa-instagram{
    background-color: darkblue;
    color: white;
}
.redesSociales{
    background-color: #ffff89;
}
.copyright{
    @include centrar-align;
    margin-left: 20px;
    color: black;
}

/* Medias queries */

@media only screen and (max-width: 545px){
    .redesSociales{
        flex-wrap: nowrap;
    }
    .copyright{
        width: $width4*3;
        margin-left: 3px;
        font-size: 2vw;
    }
    .fa{
        padding: 5vw;
    }
}