@import "../sass2/extend";
@import "../sass2/mixin";

.divTitulo{
    @include centrar;
}
.divH1{
    @include centrar2;
    background-color: $color3;
    width: $width2+20;
    margin: $margingral*2;
    border-radius: $borderadio;
    border: $bordeH1;
}
h1{
    @include centrar;
    font-family: $fuente;
    font-size: 8vw;
    margin: 15px;
}

/* Medias queries */

@media only screen and (max-width: 900px){
    .divH1{
        border: $borde12;
    }
}

@media only screen and (max-width: 682px){
    .divH1{
        border: $borde1;
    }
}