@import "../sass2/extend";
@import "../sass2/mixin";

/* Carrusel */
.carusel{
    @include fila2;
}
.fotosBanner{
    border: $color1 solid $bordegral+2.5;
    border-radius: $borderadio2;
}
.banner{
    border-radius: $borderadio2;
}
/* Main */
.sectionIndex{
    @include fila;
    width: $width2+25;
    background-color: $color4;
    margin: $margingral*2.5;
    border: $bordeIndex;
    border-radius: $borderadio;
}
.divsIndex{
    @include columna;
    margin: $margingral;
}
.div2{
    @include centrar-columna2;
    background-color: $color6;
    margin: $margingral;
    border: $borde2;
    border-radius: $borderadio;
}
/* Items dentro de los Divs */
.psandias{
    @include start;
    margin: $margingral;
    padding: $paddinggral;
    font-family: $fuente;
}
.carrito{
    @include fila3;
}
.divEstrella{
    @include centrar;
}
.estrellasIndex{
    width: $widthEstrella;
}
.compra{
    width: $width;
}
h2{
    @include start;
    font-family: $fuente;
    font: bold;
}
.pmilka{
    @include start2;
    font-family: $fuente;
    margin: $margingral;
    padding: $paddinggral;
}

/* Medias queries */

@media only screen and (max-width: 1000px){
    .sandias{
        width: 40vw;
    }
    .milkaoreo{
        width: 40vw;
    }
}

@media only screen and (max-width: 900px){
    .fotosBanner{
        width: $width2+20;
        border: $borde12;
    }
    .banner{
        width: $width;
    }
    .divPadreImgindex{
        width: 40vw;
        @include centrar;
        overflow: hidden;
    }
    .sectionIndex{
        border: $borde22;
    }
    .carrito{
        font-size: small;
    }
}

@media only screen and (max-width: 682px){
    .logo{
        border: solid 2px;
    }
    .fotosBanner{
        width: $width2+10;
        border: $borde1;
    }
    .banner{
        width: $width;
    }
    .sectionIndex{
        border: $borde2;
    }
    .div2{
        border: $color2 solid 2px;
    }
    .sandias{
        width: 40vw;
    }
    .psandias{
        font-size:smaller;
    }
    .milkaoreo{
        width: 40vw;
    }
    .pmilka{
        font-size:smaller;
    }
    .carritoImg{
        width: $width3+10;
    }
    .compra{
        font-size: small;
    }
}

@media only screen and (max-width: 545px){
    .divPadrep{
        height: 30vw;
        overflow: scroll;
    }
    h2{
        font-size: medium;
    }
    .compra{
        font-size: 1.7vw;
        width: 17vw;
    }
}