@import "../sass2/extend";
@import "../sass2/mixin";

/* Nav */
.nav-brand{
    @include centrar-align;
    font-family: $fuenteNav;
}
.navbar-collapse{
    @include end;
}
.nav-item{
    border: $bordenegro;
    margin: 5px;
    text-decoration: none;
    border-radius: $borderadio/2;
    color: black;
    background-color: $color2;
    padding: 3px;
    font-family: $fuente;
    &:hover{
        color: $color5
    }
}
.dropdown-menu{
    background-color: $color3;
    .dropdown-item:hover{
        background-color: $color4;
    }
}
.logo{
    height: 3.5cm;
    width: 3.5cm;
    border: black solid $bordegral+0.5;
    border-radius: $borderadio;
}
nav{
    background-image: linear-gradient(to right, $color1, $color2, $color3, $color4);
    p{
        margin-left: 5px;
    }
}
header{
    margin-bottom: 30px;
    border-bottom: $color5 dashed $bordegral+1;
}

/* Medias queries */

@media only screen and (max-width: 682px){
    .logo{
        border: solid 2px;
    }
}

@media only screen and (max-width: 545px){
    .logo{
        height: 15vw;
        width: 15vw;
    }
}

@media only screen and (max-width: 320px){
    .nav-link{
        font-size: x-small;
    }
    .dropdown-item{
        font-size: x-small;
    }
}