@import "../sass2/mixin";
@import "../sass2/extend";

/* Tabla */
.divPadretabla{
    @include centrar;
    width: $width;
}
.divTabla{
    @include centrar;
    width: $width2+25;
    padding: $paddinggral;
}
table{
    @include centrar;
    font-family: $fuente;
    font-size: 1.5vw;
    background-color: $color4;
    margin: $margingral*3;
    padding: 10px;
    border: $bordeTable;
    border-radius: $borderadio;
}
.tabla{
    @include centrar-tabla;
    border-collapse: collapse;
}
td{
    border: $borde2;
    padding: $paddinggral;
}
th{
    border: $borde2;
    padding: $paddinggral;
}
.thTamaño{
    width: 15vw;
    padding: 0% 1% 0% 1%;
}
.thTamaño2{
    width: 10vw;
}
.thTamaño3{
    width: 8vw;
}

/* Explicación */
.divPadreexplicacion{
    @include centrar;
    width: $width;
}
.h3Rank{
    font-size: 2.5vw;
    margin-bottom: $margingral*2;
}
.divExplicacion{
    @include centrar-columna;
    font-family: $fuente;
    background-color: $color4;
    width: $width3+25;
    margin: $margingral;
    padding: $paddinggral*2;
    border: $borde22;
    border-radius: $borderadio;
}
.divPexplicacion{
    line-height: 1.5vw;
    font-size: 1.7vw;
}
.pTitulo{
    text-decoration: underline;
    margin-right: 0.7vw;
}
.Ppexplicacion{
    @include fila;
}

/* Top 1 y Ver más */

/* Top 1 */
.divPadreTyV{
    @include centrar;
    width: $width;
}
.divTyV{
    @include centrar-columna2;
    background-color: $color4;
    width: $width3+20;
    border: $borde22;
    border-radius: $borderadio2;
}
.divTop1{
    @include centrar-columna2;
    font-family: $fuente;
    width: $width3+10;
    margin: $margingral;
    padding: $paddinggral;
}
.h3Selva{
    font-size: 2.3vw;
}
.imgPalitos{
    width: $width;
    height: $height;
    background-color: $color6;
    margin-top: $margingral*2;
    border: $borde2;
    border-radius: $borderadio*7;
    transition: height 2s, width 2s;
    &:hover{
        height: $height+30;
        width: $width+30;
    }
}

/* Ver más */
.divPadrecanvas{
    @include centrar;
    width: $width
}
.divCanvas{
    @include centrar-columna2;
    width: $width3+20;
    height: 9vw;
    margin: $margingral;
}
.h5Canvas{
    font-size: 2.3vw;
    margin-top: $margingral;
}
.botonCanva{
    background: $color3;
    margin: $margingral;
    border: $borde2;
}
.offcanvas{
    background-color: $color6;
}
.opciones{
    background-color: $color3;
}

/* Medias queries */

@media only screen and (max-width: 900px){
    table{
        border: $bordeTable2;
        border: $color1 solid 3px;
    }
    td{
        border: $color2 solid 2px;
    }
    th{
        border: $color2 solid 2px;
    }
    .divExplicacion{
        border: $borde2;
    }
    .divTyV{
        border: $borde2;
    }
    .botonCanva{
        font-size: small;
        padding: 0.5vw;
        margin-bottom: $margingral;
        border: $color2 solid 2px;
    }
}

@media only screen and (max-width: 682px){
    .divTabla{
        height: 50vw;
    }
    .tabla{
        overflow: scroll;
        padding: 0%;
    }
    table{
        font-size: 1.8vw;
    }
    td{
        border: $color2 solid 1px;
    }
    th{
        border: $color2 solid 1px;
    }
    .divExplicacion{
        width: $width2;
    }
    .divPexplicacion{
        font-size: 1.8vw;
        line-height: 1vw;
    }
    .divCanvas{
        width: $width3*2;
        height: 12vw;
    }
    .botonCanva{
        font-size: x-small;
    }
}