@import "../sass2/mixin";
@import "../sass2/extend";

/* Tabla */
.divPadretabla{
    @include centrar;
    width: $width;
}
.divTabla{
    @include centrar;
    width: fit-content;
    padding: $paddinggral;
}
table{
    @include centrar;
    font-family: $fuente;
    background-color: $color4;
    margin: $margingral*3;
    padding: 10px;
    border: $bordeTable;
    border-radius: $borderadio;
}
.tabla{
    @include centrar-tabla;
    border-collapse: collapse;
}
td{
    border: $bordenegro;
    padding: $paddinggral;
}
th{
    border: $bordenegro;
    padding: $paddinggral;
}
.thTamaño{
    width: 10vw;
    padding: 0% 1% 0% 1%;
}

/* Top 1 */
.divPadretop1{
    @include centrar;
    width: $width;
}
.divTop1{
    @include centrar-columna;
    font-family: $fuente;
    background-color: $color4;
    width: $width3;
    margin: $margingral*2;
    padding: $paddinggral;
    border: $color1 solid 4px;
    border-radius: $borderadio+25;
}
.divPalitos{
    @include centrar-columna2;
}
.imgPalitos{
    width: $width2;
    height: $height2;
    background-color: $color4;
    margin-top: $margingral*2;
    transition: height 2s, width 2s;
    border: $borde2;
    border-radius: $borderadio*7;
    &:hover{
        height: $height2+20;
        width: $width2+20;
    }
}

/* Explicación */
.divPadreexplicacion{
    @include centrar;
    width: $width;
}
.h3Rank{
    font-size: x-large;
    margin-bottom: $margingral*2;
}
.divExplicacion{
    @include centrar-columna;
    font-family: $fuente;
    background-color: $color3;
    width: $width3+25;
    margin: $margingral;
    padding: $paddinggral*2;
    border: $color2 solid 4px;
    border-radius: $borderadio;
}
.divPexplicacion{
    @include centrar-columna;
    line-height: 1.5vw;
}

/* Ver más */
.divPadrecanvas{
    @include centrar;
    width: $width
}
.divCanvas{
    @include centrar-columna2;
    width: $width3+20;
    height: 9vw;
    background-color: $color3;
    margin: $margingral;
    border: $borde2;
    border-radius: $borderadio*2;
}
.h5Canvas{
    margin-top: $margingral;
}
.botonCompra{
    width: $width3/2;
    height: $height3;
    margin: $margingral;
}

/* Medias queries */

@media only screen and (max-width: 1200px){
    .tabla{
        font-size: small;
    }
}

@media only screen and (max-width: 1000px){
    .tabla{
        font-size: x-small;
        font-weight: bold;
    }
}

@media only screen and (max-width: 900px){
    .botonCanva{
        font-size: small;
        padding: 0.5vw;
        margin-bottom: $margingral;
    }
}

@media only screen and (max-width: 800px){
    .tabla{
        font-size: xx-small;
    }
    .h3Rank{
        font-size: medium;
    }
    .divPexplicacion{
        font-size:small;
    }
    .botonCanva{
        font-size: x-small;
    }
    .h5Canvas{
        font-size: small;
    }
}

@media only screen and (max-width: 682px){
    .divTabla{
        height: 50vw;
    }
    .tabla{
        overflow: scroll;
        padding: 0%;
        font-size: 1.2vw;
        border: $borde1;
    }
    td{
        border: black solid 1px;
    }
    th{
        border: black solid 1px;
    }
    .divTop1{
        border: $color1 solid 2px;
    }
    .h3Selva{
        font-size: small;
    }
    .divExplicacion{
        width: $width2*2;
        border: $color2 solid 2px;
    }
    .h3Rank{
        font-size: small;
    }
    .divPexplicacion{
        font-size: x-small;
    }
    .divCanvas{
        width: $width3*2;
        height: 12vw;
        border: $color2 solid 2px;
    }
    .botonCanva{
        font-size: xx-small;
    }
}

@media only screen and (max-width: 410px){
    .divTop1{
        width: $width2;
    }
    .divExplicacion{
        width: $width2+25;
        padding: 10px;
    }
    .divCanvas{
        height: 15vw;
    }
    .h5Canvas{
        font-size: x-small;
    }
}