@import "../variables/variables";

.itemsNov{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: $color4;
    opacity: 0.93;
    width: 70%;
    height: 85%;
    padding: $paddinggral;
    border: $color2 solid 4px;
    border-radius: $borderadio*2;
}
.itemsVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color4;
    width: 80%;
    padding: $paddinggral;
    margin: $margingral;
    border: $color2 solid 4px;
    border-radius: $borderadio*2;
}